@import 'tailwindcss';

@theme {
  --color-primary: oklch(0.95 0.01 258.59);
  --color-secondary: oklch(0.985 0.001 106.423);
  --color-accent: oklch(0.396 0.141 25.723);
  --color-base: oklch(0.36 0.01 266.4);
  --color-tertiary: #fff;
  --color-pale: oklch(0.34 0.01 0);
  --color-fair: oklch(0.985 0.001 106.423);
}

@layer base {
  [data-theme='dark'] {
    --color-primary: oklch(0.29 0.01 258.43);
    --color-secondary: #1c1e22;
    --color-accent: oklch(0.91 0.19 100.24);
    --color-base: #dbdbdb;
    --color-tertiary: #272b36;
    --color-pale: oklch(0.89 0 0);
    --color-fair: oklch(0.89 0 0);
  }
}
